
Library/ArtifactDB
Library/ArtifactDB-lock
*.meta
Library/Artifacts/18/183a6e99acaec4f07f6fad965be9d8d2
Library/Artifacts/8a/8ab8f6a35e6096ac8fa6eb1a1ebcb8bd
Library/PackageCache/com.unity.collab-proxy@1.2.16/.npmignore
*.cs
*.md
Temp/UnityLockfile
*.json
*.log
Library/SourceAssetDB-lock
Library/SourceAssetDB
*.asmdef
*.txt
*.anim
Library
